<section>
    <div class="container mx-auto px-4">
        <h2 class="text-2xl font-bold text-gray-800 mb-8 text-center">
            Shop Popular Categories
        </h2>

      <owl-carousel-o [options]="categoriesOptions">
            @for (category of categoriesList; track category._id) {
              <ng-template carouselSlide [id]="category._id">
                <div class="relative w-full h-32 overflow-hidden group">
                    <!-- image -->
                    <img 
                    [src]="category.image" 
                    [alt]="category.name" 
                    [title]="category.name" 
                    class="w-full h-full object-cover object-top transition-transform duration-300 group-hover:scale-105  group-hover:scale-x-[-1]">

                    <!-- Overlay -->
                    <div class="absolute inset-0 bg-black/40 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                    <h3 class="text-white text-lg font-semibold text-center">
                    {{ category.name }}
                    </h3>
                    </div>
                </div>
                <div class="relative w-full h-32 overflow-hidden group">
                    <!-- image -->
                    <img 
                    [src]="category.image" 
                    [alt]="category.name" 
                    [title]="category.name" 
                    class="w-full h-full scale-x-[-1] object-cover object-bottom transition-transform duration-300 group-hover:scale-105">

                    <!-- Overlay -->
                    <div class="absolute inset-0 bg-black/40 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                    </div>

                    
                </div>
                <h3 class="text-lg font-semibold text-center">
                    {{ category.name }}
                    </h3>
              </ng-template>
            }

      </owl-carousel-o>

  </div>
</section>